#content{
	width: 100%;
	position: relative;
}
.account{
	position: relative;
	width: 100%;
	background-color: #2b2b2b;
}
.account-page{
	width: 1020px;
	margin: 0 auto;
	overflow: hidden;
}
.account-page h2{
	height: 50px;
	margin: 50px 40px 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 34px;
	color: #575757;
}
.word{
	color: #fff;
}
.account-page p{
	font-size: 11px;
	font-weight: 600;
	color: #858585;
	margin: 0 40px 30px;
}
.account-title{
	margin: 0 40px;
	overflow: hidden;
}
.advantage{
	float: left;
	color: #fff;
	width: 160px;
	height: 140px;
	margin-right: 40px;
	text-align: center;
	font-size: 10px;
}
.account-img{
	width: 80px;
	height: 62px;
	margin: 0 auto 20px;
}
.account-down{
	width: 23px;
	height: 6px;
	background: url(../img/siteSprite-se41bd8659f.png) no-repeat 0 -3133px;
	position: absolute;
	left: 50%;
	margin-left: -12px;
}
.profile{
	width: 1020px;
	margin: 0 auto;
	padding: 40px 60px;
	overflow: hidden;
}
.profile form{
	overflow: hidden;
	margin-bottom: 30px;
}
.registry{
	float: left;
	width: 490px;
	margin-right: 40px;
	line-height: 24px;
}
.registry h2{
	font-size: 11px;
	color: #393939;
	margin: 0 0 20px;
	line-height: 24px;
}
.registry p{
	margin: 6px 20px 10px 0;
}
.required{
	color: #B7B7B7;
	margin: 0;
}
.registry select{
	width: 488px;
	height: 34px;
	margin-bottom: 24px;
}
.registry input{
	width: 488px;
	height: 34px;
}
.registry span{
	color: red;
}
.preference{
	float: left;
	width: 370px;
	margin-top: 30px;
	padding: 30px 0;
	border-top: 1px solid #d1d1d1;
	overflow: hidden;
}
.cont{
	height: 36px;
	overflow: hidden;
	border: 1px solid #000;
	margin-top: 10px;
	position: relative;
}
.cont-close{
	cursor: pointer;
	width: 11px;
	height: 6px;
	background: url(../img/siteSprite-se41bd8659f.png) no-repeat 0 -230px;
	position: absolute;
	right: 10px;
	margin-top: 16px;
	z-index: 100;
}
.cont-item{
	cursor: pointer;
	height: 36px;
	color: #b7b7b7;
}
.cont-item span{
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #000;
	float: left;
	margin: 10px;
}
.cont-item p{
	line-height: 33px;
}
.preference .default{
	color: #000;
}
.preference .default span{
	background-color: #000;
}
.recap-cont{
	display: none;
	border: 1px solid #000;
	margin-top: 20px;
}
.privacy{
	color: #b7b7b7;
	line-height: 24px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #d1d1d1;
}
.privacy span{
	color: #000;
}
.pratials{
	color: #b7b7b7;
	margin: 30px 0;
	line-height: 20px;
}
.pratials span{
	cursor: pointer;
	display: inline-block;
	width: 21px;
	height: 21px;
	background: url(../img/siteSprite-se41bd8659f.png) no-repeat 0 -709px;
	float: left;
	margin-right: 10px;
}
.profile button{
	display: block;
	border: 0;
	cursor: pointer;
	padding: 10px 48px;
	font-size: 10px;
	color: #fff;
	background-color: #000;
	float: right;
}
